<center>
<% if user_signed_in? %>
<h2>Just <%= link_to "create post", new_post_path %> and share ... </h2>
<% else %>
<h2>Just <%= link_to "Sign in",   new_user_session_path %> and share ... </h2>
 <% end %>
<hr>
<%= link_to image_tag("move1.gif", alt: "move1"), new_post_path %>
<hr>
<h3><%= link_to " 'Every sinner has a future, every saint has a past' ", about_index_path %></h3>
</center>
