<%= form_for @post do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :excerpt %>
		<%= f.text_field :excerpt %>
	</div>
	<div class="checkboxes">
		<label class="block">Categories</label>
		<%= f.collection_select(:category_ids, Category.all, :id, :title, prompt: true) %>
	</div>
	<div>
		<%= f.label :content %>
		<%= f.cktext_area :content %>
	</div>
	<div>
		<%= f.submit @post.new_record? ? "Create Post" : "Update Post"  %>
	</div>
<% end %>
